@charset "UTF-8";
header{
    background-color: red;
    

    
}
body{margin: 0;}
h1{
    font-size: 60px;
    color: antiquewhite;
    font-style: italic;
    background-color:;
}

h2{
    font-size: 30px;
    color:antiquewhite;
    font-style: italic;
}

h3{
    font-style: italic;
    font-size: 30px;
}
img{
    width: 450px ;
display: block;
     margin: auto;
}