@charset "UTF-8";

body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "heat heat suspect suspect"
        "inside rififi rififi bank";
    height: 100vh;
    color:blue;
    font-size:30px;
}

#heat{
    grid-area:heat;
    background-image: url(images/heat.jpg);
    background-size: cover;
}

#suspect{
    grid-area:suspect;
    background-image:url(images/usualsuspects.jpg);
    background-size: cover;


}
#inside{
    grid-area:inside;
    background-image:url(images/insideman.jpg);
    background-size: cover;


}
#rififi{
    grid-area: rififi;
    background-image:url(images/rififi.jpg);
    background-size: cover;


}
#bankjob{
    grid-area:bank;
    background-image:url(images/bankjob.jpg) ;
    background-size: cover;


}

    
